body {
	background-color: #F0F0F0;
}

#content {
    position: relative;
	background-color: white;
    box-shadow:  0px 0px 4px #404040;
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;
}

/*-------------------Header-------------------*/
.nav {
  font-family: "Verdana";
  background-color: #238B31;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

.nav ul {
  height: 100%;
  display: flex;
  padding-left=0px;
  align-items: center;
  justify-content: space-around;
}

.nav ul li {
  flex-grow: 1;
  text-align: center;
  list-style: none;
  padding-top:100%;
  padding-bottom:100%;
}
.nav ul li p {
  padding-left: auto;
  padding-right: auto;
  padding-top: auto;
  padding-bottom: auto;
  margin: 0px;
}
.nav ul li p a {
  display: block;
  flex-grow: 1;
  text-decoration: none;
  color: white;
  font-size: 18pt;
  height: auto;
  width: auto;
}
.nav ul li img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding: 0;
  margin: 0;
}


/* ----------------------Nyheter----------------------- */

.fb-page {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    padding-top: 80px; 
}



/*--------------------Forside--------------------------*/

.bilde{
	width:80%;
	height:70%;
	display:block;
	padding-top:60px;
	margin-left:auto;
	margin-right:auto;
}
.logo{
	position:absolute;
	display:block;
	left:120px;
	bottom:20px;
	
}
#tekst{
	position:absolute;
	font-style:italic;
	font-weight:bold;
	color:#238B31;
	font-family:verdana;
	font-size:25px;
	display:block;
	right:180px;
	bottom:60px;
}

@media only screen and (max-width:1300px){
	#tekst{
		font-size:15px;
		bottom:150px;
		left:30%;
	}
	.logo{
		width:55%;
		left:20%;
	}
	.bilde{
		max-width:60%;
		height:auto;
	}
}

/*--------------------Butikk--------------------------*/

#title {
    margin:  20px auto 20px auto;
    padding-top: 30px;
    text-align: center;
}

#imagecontainer {
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
} 

#infocontainer {
    position: relative;
    width: 80%;
    height: 110px;
    max-width: 600px;
    margin: auto;
}

#picture {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

#description {
    position: absolute;
    width: 150px;
    height: 100px;
    border: 3px solid #73AD21; /* lettere å jobbe med */
    left: 0;
}

#openingHours {
    position: absolute; /* kanskje bedre å bruke float mtp. responsive desgin osv. idk */
    width: 150px;
    height: 100px;
    right: 0;
    border: 3px solid #73AD21; /* lettere å jobbe med */
}

#divider {
    position: absolute;
    height: 105px;
    width: 4px;
    left: 49.5%;
    background-color: forestgreen
}

#openingHours p {
    margin: auto
}

#openingHours h3 {
    margin: auto
}


/*--------------------Index--------------------------*/

a {
    margin: 50px;
    font-size: 1.5em;
}
