body {
	background-color: #F0F0F0;
}

#content {
	background-color: white;
    box-shadow:  0px 0px 4px #404040;
    margin-left: 10%;
    margin-right: 10%;
}





/* ----------------------Nyheter----------------------- */

.fb-page {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%
}


