.bilde{
	width:80%;
	height:70%;
	display:block;
	padding-top:60px;
	margin-left:auto;
	margin-right:auto;
}
.logo{
	position:absolute;
	display:block;
	left:50px;
	bottom:20px;
	
}
#tekst{
	position:absolute;
	font-style:italic;
	font-weight:bold;
	color:#238B31;
	font-family:verdana;
	font-size:25px;
	display:block;
	right:50px;
	bottom:60px;
}
