#products_imagecontainer * {
    display: inline-block;
	width:30%;
	height:40%;
    margin-left: auto;
    margin-right: auto;
}

#products_p {
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#products_imagecontainer {
    text-align: center; /* Dette funker fordi en inline-block kan sentres med text-align. */
}
